GridPane {
    -fx-hgap: 5px;
    -fx-vgap: 5px;
}

#MainGrid {
    -fx-pref-height: 600.0px;
    -fx-pref-width: 1000.0px;
}

#FileControls {
    -fx-pref-height: 420px;
    -fx-pref-width: 600px;
    
}

#GalleryControls {
    -fx-pref-height: 180px;
    -fx-pref-width: 600px;
}

#ImagePreview {
    -fx-pref-height: 420px;
    -fx-pref-width: 400px;
}

#Gallery {
    -fx-pref-height: 180px;
    -fx-pref-width: 400px;
}

.error {
    -fx-border-color: red;
    -fx-border-width: 1px;
    -fx-border-height: 1px;
    -fx-border-style: none line-cap round;
    
    -fx-fill: red;
}